/*/////////////////phần SECTION/////////////////*/
         /* định dạng cho phần conten-liên-hệ */
         section{
            background-color: #e5f3f5;
            padding-bottom: 10px;
        }
        .title-lien-he-center{
            margin-top: 70px;
        }
        .content-lien-he-center{
            position: relative;
            display: flex;
            flex-flow:row wrap;
            align-items: center;
        }
        span.content-lien-he{
            text-align: center;
            box-shadow: 0 0 3px #ccc;
            padding: .5rem .8rem;
            font-size: 25px;
            font-weight: bold;
           border: 2px solid #ddd;
           background-color: white;
        }
        .content-lien-he-center b{
           display: block;
           -ms-flex: 1;
           flex: 1;
           height: 2px;
           opacity: .1;
           background-color: currentColor;
        }
       /* phần định dạng form liên hệ*/ 
       
       .all-form-lien-he {
           margin-top: 20px;
           width: 60%;
           padding: 20px 50px 30px 50px;
           border: 2px solid deeppink;
           margin-bottom: 50px;
           position: relative;
           margin: 0 auto;
       }
       .form-lien-he{
           margin-bottom: 20px;
       }
       .form-lien-he > h3{
           font-weight: bold;
           font-size: 25px;
       }
      .hieu-ung{
           width: 100%;
           padding: 10px;
           border-radius: 4px;
           font-size: 20px;
           box-shadow: 0 0 8px #ccc;
           outline: 0;
           border: 1px solid #ddd;
         
      }
      .hieu-ung:hover{
            box-shadow: none;
           border: 1px solid lightskyblue;
      }
      /* Định dạng cho nút liên hệ */
      .button-lien-he{
           font-weight: bold;
           color: white;
           width: 100%;
           font-size: 25px;
           padding: 5px;
           border-radius: 5px;
           background-color: #FF1493;
           border: 1px solid #FF1493;
       }
       .button-lien-he:hover{
           background-color:#FF69B4;
           border: 1px solid #FF69B4;
           outline: none;
       }